{% extends 'common/base.html' %}
{% load i18n %}
{% block content %}
{% load ot_filters %}
{{ form.media }}

<div class="container">
	<h2>{% trans 'Distances' %}</h2>
	<p><a href="/static/timetable/dists.csv">{% trans "Download CSV" %}</a></p>
    <div class="well">
        המרחקים חושבו רק עבור תחנות שיש ביניהם קו ישיר<br/>
        המספר העליון הוא מרחק הנסיעה והמרחק התחתון הוא מרחק אווירי<br/>
        לחלק מתחנות יש שני מסלולים אפשריים בינייהם, במקרה זה צוינו שניהם<br/>
        כאשר מופיע <b>ניתוק</b> יש בעיה בנתונים והתחנה איננה חלק מהמידע הגיאוגרפי על המסלול<br/>
    </div>
    <table class="table">
        <tr>
            <td>
            </td>
            {% for stop2 in stops %}
            <td>
                {{stop2.get_short_name}}<br/>
                {{stop2.gtfs_stop_id}}
            </td>
            {% endfor %}
        </tr>
         {% for row in rows %}
        <tr>
            <td>{{row.stop.get_short_name}}<br/>
            {{row.stop.gtfs_stop_id}}</td>
            {% for cell in row.cells %}
            <td
            {% if cell % }
            {% if cell.dists|length == 2 %}
            class="danger"
            {% elif cell.dists|length == 0 %}
            class="warning"
            {% endif %}
            >
                {% if cell %}
                    {% if cell.dists|length == 0 %}
                        {% trans 'disconnected' %}
                    {% elif cell.dists|length == 1 %}
                    {{ cell.dists.0.distance|floatformat:"0" }}
                    <br/>
                    {{ cell.dists.0.aerial_distance|floatformat:"0" }}

                    {% else %}

                    {{ cell.dists.0.distance|floatformat:"0" }}
                    <br/>
                    {{ cell.dists.0.aerial_distance|floatformat:"0" }}
                    <br/>
                    {{ cell.dists.1.distance|floatformat:"0" }}
                    <br/>
                    {{ cell.dists.1.aerial_distance|floatformat:"0" }}
                    {% endif %}
                {% else %}
                ---
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}



